<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class = "centrado">
  <div class="container position-relative w-75 p-3 shadow-lg p-3 mb-5 bg-white rounded">
      <p class="h1"> <b>  LED + Blynk + AWS</b></p>
    <div class="card">
      <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-row align-items-center">
                  <div class="col-sm-12 my-2">
                      <label for="customRange2" class="h4">Brillo del LED</label>
                      <input type="range" class="custom-range" min="0" max="255" id="customRange2" #led (click)="Slider(led.value)">
                  </div>
              </div>
              <div class="form-row align-items-center">
                  <div class="col-sm-12 my-2">
                      <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)" name="checkbox" (click)="Boton(theCheckbox)"/>
                          <label class="custom-control-label h5" for="customSwitch1">Enciende el LED</label>
                          <div>El <b>LED</b> Funciona, su valor actual es  <b>{{theCheckbox}}</b></div>
                          <span class="checkmark"></span>
                      </div>
                  </div>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
                  <p class="h5">Resultado:</p>
                  <p class="h5"> {{datoReceived}}</p>
                </div>
            </div>
          </form>
      </div>   
    </div>
  </div>
</div>







